@import "tailwindcss";

body {
  overflow: hidden;
}
input {
  outline: none;
  border-radius: 40px;
  padding: 10px 20px;
  width: 250px;
}

button {
  outline: none;
  border-radius: 40px;
  padding: 10px 20px;
  width: 150px;
}
